__pycache__/
*.pyc
.env
venv/
.DS_Store

# Ignore everything in profile_pictures directory
static/images/profile_pictures/*

# But not these files (defaults)
!static/images/profile_pictures/profile.jpg
!static/images/profile_pictures/blank_profile.webp

# Ignore everything in videos
static/videos/*

# Leave a sample file
!static/videos/background 3.mp4

output/*